/* FLIP MATCH CONTROLS */

.flip-match-controls {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}

/* FLIP MATCH CONTORLS HEADER CONTAINER */

.flip-match-controls-header-itself {
    color: white;
    font-family: mainHeader;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

/* FLIP MATCH CONTROL BUTTONS CONTAINER */

.flip-match-control-buttons-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    background-color: rgb(40, 40, 40);
    padding: 10px;
    border-radius: 1rem;
}

.flip-match-control-button-itself {
    border-radius: 0.5rem;
    border: 0;
    height: 45px;
    font-size: 1rem;
    background-color: rgb(60, 60, 60);
    cursor: pointer;
    color: white;
    border-top: 1px solid rgba(255,255,255,0.08);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-match-control-button-itself:hover {
    background-color: rgb(70, 70, 70);
}