/* FLIP MATCH TIMER */

.flip-match-timer {
    width: 450px;
    display: flex;
    justify-content: center;
}

/* FLIP MATCH TIMER ITSELF */

.flip-match-timer-itself {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.flip-match-timer-itself-svg {
    width: 30px;
    height: 30px;
    color: white;
}

.flip-match-timer-itself-text {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

/* MEDIA QUERIES */

@media (max-width: 800px) {
    .flip-match-timer {
        width: 400px;
    }
}

@media (max-width: 500px) {
    .flip-match-timer {
        width: 350px;
    }
}

@media (max-width: 400px) {
    .flip-match-timer {
        width: 300px;
    }
}

@media (max-width: 350px) {
    .flip-match-timer {
        width: 280px;
    }
}